body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: column; 
    height: 695px;
}


.header {
    background-color: burlywood;
    color: white;
    padding: 20px;
    text-align: center;
}


.main {
    display: flex;
    flex: 1;
}


.sidebar {
    background-color: #f4f4f4; 
    padding: 20px;
    width: 200px;
}


.content {
    background-color: #ffffff;
    padding: 20px;
    flex: 1; 
}


.footer {
    background-color: #333;
    color: white; 
    text-align: center;
    padding: 10px;
}


@media (max-width: 600px)
{
    .main {
        flex-direction: column;
    }
    .sidebar {
        width: 100%; 
    }
}